extends indexTemplate
block content
    div
        h2 Boton de Guardado
        p Boton que guarda la informacion de los usuarios y archivador, mas no la de las facultades
        button(id="guardar") Guardar
        h2 Boton de Actualizacion
        p Boton que actualiza el archivo de configuracion de las facultades, util luego de clasificar material.
        button(id="actualiza") Actualizar
        h2 Creacion de comprimidos
        p Boton que creará archivos comprimidos para TODAS las carpetas
        button(id="zip") Crear Zip
        h2 Boton de cierre
        p Fuerza el cierrde del servidor, no guarda ningun archivo.
        button(id="cierra", style="background-color: #ff0a19") Cerrar servidor
block javascript
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
        const guardar = document.getElementById('guardar');
        guardar.addEventListener('click', () => {
          $.get('/admin/hosting?action=guardar')
            .done(function () {
              alert("Guardado");
            })
            .fail(function () {
              alert("Fallo en la solicitud de guardado...");
            })
        });
        const actualizar = document.getElementById('actualiza');
        actualizar.addEventListener('click', () => {
          $.get('/admin/hosting?action=actualiza')
            .done(function () {
              alert("Actualizado");
            })
            .fail(function () {
              alert("Fallo en la solicitud de actualización...");
            })
        });
        const cierra = document.getElementById('cierra');
        cierra.addEventListener('click', () => {
          $.get('/admin/hosting?action=cierra')
            .done(function () {
              alert("CERRANDO SERVIDOR...");
            })
            .fail(function () {
              alert("Fallo en la solicitud de cierre...");
            })
        });
        const zip = document.getElementById('zip');
        zip.addEventListener('click', () => {
            $.get('/admin/hosting?action=zip')
                .done(function () {
                    alert("Generando zip");
                })
                .fail(function () {
                    alert("Fallo en la solicitud de cierre...");
                })
        });