doctype html
head
    title="Clasificador de material"
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/public/stylesheets/collapsible.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script.
        const Keys = Array.from(!{JSON.stringify(keys)});
        const Facultades = Array.from(!{JSON.stringify(facultades)});
        const Cursos = Array.from(!{JSON.stringify(cursos)});
body
    h2 Clasificador de material
    button.collapsible Botones
    div.content
        button(onclick="window.location='/'") Inicio 🏠
script(src="/public/javascripts/clasificador.js")