doctype html
head
    title="Clasificador de material"
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/public/stylesheets/collapsible.css')
    
body
    h2(align='center') Administrador de Facebook
    button(onclick="window.location='/'") Inicio 🏠
    button.collapsible Mensaje global
    div.content
        form(action='/admin/facebook?action=global', method='POST')
            label.text--center Ingrese mensaje
            div.form__field
                input.form__input(type="text", name="texto", placeholder="Ingrese su mensaje")
            div.form__field
                input(type="submit", value="Enviar mensaje")
    button.collapsible Buscador de usuarios
    div.content
        p Proximamente buscador de usuarios
