extends indexTemplate
block content
    h2 Amazon Web Services
    p AcademiBot hace uso de AWS para almacenar el material de estudio.
    p La principal herramienta que utiliza es #[a(href="https://s3.console.aws.amazon.com", target='_blank') S3].
    h2 Clasificador de material
    p Las donaciones de los usuarios son muy importantes, por lo que si tienes la contraseña de administrador puedes acceder al clasificador de material.
    button(onclick="window.location='/admin/clasificador'") Clasificar material

