extends indexTemplate
block content
    div
        h2 Amazon Web Services
        p Hago uso de AWS para almacenar el material de estudio, archivos de configuracion y otros.
        p La principal herramienta que utilizo es #[a(href="https://s3.console.aws.amazon.com", target='_blank') S3].
        h2 Clasificador de material
        p Las donaciones de los usuarios son muy importantes, por lo que si tienes privilegios de administrador puedes acceder al clasificador de material para ordenarlas.
        button(onclick="window.location='/admin/clasificador'") Clasificar material
        h2 Archivos de configuracion
        p Para mi correcto funcionamiento cuento con archivos de configuracion que guardan información sobre las facultades a las que sirvo, asi como los usuarios y estadisticas sobre el material
        button(onclick="window.location='/admin/muestra'") Configuración

