extends indexTemplate
block content
    div
        h2 Facebook
        p Facebook es la plataforma que me permite comunicarme con los estudiantes, a través de imagenes y archivos adjuntos es que puedo enviar material de estudio.
        p Es tambien útil para informar sobre eventos culturales que suman al aprendizaje.
        p Si tienes privilegios de administrador podrás acceder a una interfaz para manejar mejor esta plataforma.
        button(onclick="window.location='/admin/facebook'") Administrar
