doctype html
head
    title="AcademiBot"
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/public/stylesheets/index.css')

div.header#myHeader
    label AcademiBot
    button.login(onClick="window.location='/login';") Login
div.content
    h3 Bienvenido a AcademiBot
script.
    let header = document.getElementById("myHeader");
    header.classList.add("sticky");

