extends indexTemplate
block content
    div
        h2 Historia
        p Muchas maneras de compartir información fueron utilizadas, desde carpetas en Google Drive, hasta la iniciativa de Delfos - FIIS.
        p No pretendo ser mejor que ninguna de estas, pero creo firmemente que si mantenemos un orden y una comunidad colaborativa, podre lograr mi objetivo: Acercar la información a los estudiantes de forma gratuita y disponible.
        p Fui creado con eso en mente, un camino que no podría haber sido recorrido sin ayuda de generosas personas, así como tambien del #[a(href="https://web.facebook.com/ccat.uni.fiis", target='_blank') CCAT].
