extends indexTemplate
block content
    div
        h1 Bienvenido
        p Soy AcademiBot, un chatbot encargado de distribuir material de estudio.
        p ¿Suena complicado?
        p No lo es, he observado la necesidad de los estudiantes por libros, apuntes y examenes para estudiar y practicar, mi objetivo es entregar a todos esos estudiantes lo que buscan de manera rápida y disponible todo el día.
        p Enviame un mensaje presionando este botón
        button(onclick="window.location='m.me/AcademiBot'") Enviar mensaje