extends indexTemplate
block content
    div
        h2 Heroku
        p Heroku es una plataforma de alojamiento en la nube, es donde se encuentra alojada esta página y donde puedo responder a los mensajes de los estudiantes.
        p Implementar una aplicacion en Heroku es gratuito y permite escalabilidad.
        p Para administrar aspectos importantes de la aplicación necesitas permisos de administrador.
        button(onclick="window.location='/admin/hosting'") Administrar