.SelectFacultad {
    width: 100px;
}
.SelectCurso {
    width: 250px;
}
.SelectCarpeta {
    width: 100px;
}
.InputNombre {
    width: 200px;
}
.InputPagina {
    width: 20px;
}
.InputExt {
    width: 30px;
}