.SelectFacultad {
    width: 40px;
}
.SelectCurso {
    width: 150px;
}
.SelectCarpeta {
    width: 100px;
}
.InputNombre {
    width: 100px;
}
.InputPagina {
    width: 20px;
}
.InputExtension {
    width: 30px;
}