.collapsible {
    max-width: -webkit-fill-available;
    background-color: #d44179;
    color: #e1e6eb;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    margin: 0.2rem;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #7a7a7a;
}

.column {
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.header {
    padding-bottom: 4rem;
}

#Clasificador {
    padding: auto;
}

@media screen and (max-width: 1000px) and (orientation:portrait) {
    #Clasificador {
        width: 40%;
    }
    .column {
        width: 100%;
    }
}